In [42]:
from tdc import Oracle

In [44]:
ASA1 = Oracle(name = 'SA')
ASA1('C')

7.3284153846153846